{% extends 'adminheader.html' %}

{% block content %}

<style type="text/css">
    table,tr,th,td
    {
        font-name:arial;
        border:1px solid black;
        border-collapse:collapse;
    }

</style>


<div style="position:absolute; left:200px; top:100px;">
    <br><br>
    <h1>This is Admin Update Voters Page</h1>
    <table>
        <thead>
        <tr>
            <th>Voter Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Date Of Birth</th>
            <th>Delete Voter</th>
        </tr>
        </thead>
        <tbody>
        {% for data in rows %}
        <tr>
            {% for row in data.split(",") %}
            <td>{{row}}</td>
            {% endfor %}
            <td> <a href="adminupdatevoterpage1?id={{data.split(',')[0]}}">Update Voter</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}