{% extends 'commonheader.html' %}

{% block content %}

    <style>
    body {
      background-image: url('download.jpg');
      background-repeat: no-repeat;
  background-size: cover;
    }
</style>
<body>
<br>
    <h1>About Voter List Management</h1>
<p>
<br><br>
Delivering high fidelity voter lists has always been a challenge to India’s Voter List Management (VLM) machinery. The rapid rate at which India is urbanising and resultant citizen movement has only added to this. Inadequacies in accounting for this constant flux, of people migrating from villages to cities and between cities is one of the biggest reasons why voter lists, especially urban, are riddled with errors. These errors include the presence of deceased citizens, duplications, citizens who do not reside in their listed address anymore and a myriad of others.
<br>
The challenges posed by increased citizen movement to VLM will only increase as India continues to urbanise. By 2050, India will add another 400 million citizens to its cities and towns pushing the proportion of people who reside in urban areas up to 50%. Clean voter lists are considered a prerequisite to free and fair elections as they are the gateway to a citizen’s right to vote. To protect this right in the face of rapid urbanisation, India’s VLM machinery needs to be continuously strengthened.</p>
<br>
</body>
{% endblock %}